.home {
  //   background-image: url("../../public/bg.jpg");
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  height: calc(100vh - 86px);
  margin-bottom: 30px;
  .background-image {
    width: 100vw;
    z-index: -1;
    opacity: 1;
    background-size: cover;
    // object-fit: cover;
    // background-position: 50% 50%;
    // position: absolute;
  }
  .content-home {
    width: 86vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-top: -3%;
    color: white;
    .title {
      font-size: 50px;
      font-weight: 300;
      margin: 0;
    }
    p {
      margin-top: 1.5%;
      width: 40%;
      font-size: 18px;
    }
  }
}
.content {
  width: 86vw;
  margin: 0 auto;
  .logistics-home-heading {
    width: 70%;
    margin-bottom: 30px;

    .sub-header-logistics {
      font-size: 16px;
    }
  }
  .header-content {
    font-size: 40px;
    font-weight: 300;
  }
}
