.home {
  height: calc(100vh - 86px);
  margin-bottom: 30px;
  .background-image {
    width: 100vw;
    z-index: -1;
    opacity: 1;
    background-size: cover;
  }
  .content-home {
    width: 86vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-top: -3%;
    color: white;
    .title {
      font-size: 50px;
      font-weight: 300;
      margin: 0;
    }
    p {
      margin-top: 1.5%;
      width: 40%;
      font-size: 18px;
    }
  }
}
.content {
  width: 86vw;
  margin: 0 auto;
  .logistics-home-heading {
    width: 70%;
    margin-bottom: 30px;

    .sub-header-logistics {
      font-size: 16px;
    }
  }
  .header-content {
    font-size: 40px;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .home {
    .content-home {
      .title {
        font-size: 38px;
      }
      p {
        width: 80%;
        margin-top: 8%;
      }
    }
  }
  .content {
    .header-content {
      font-size: 26px;
    }
  }
}
@media (max-width: 480px) {
  .home {
    .content-home {
      .title {
        font-size: 38px;
      }
      p {
        width: 100%;
        margin-top: 8%;
      }
    }
  }
  .content {
    .header-content {
      font-size: 26px;
    }
    .logistics-home-heading {
      width: 100%;

      .sub-header-logistics {
        font-size: 14px;
      }
    }
  }
}
