.container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  flex-wrap: wrap;
}

.mainBox,
.spBox {
  margin: 0 auto;
  width: 400px;
  max-width: 400px;
  min-height: 400px;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.spBox {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.spButton {
  width: 70%;
  padding: 0.7rem 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: white !important;
  color: #334155;
  border: bold !important;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}
.spButton:hover {
  background-color: #334155 !important;
  color: white !important;
}

.title {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  color: #334155;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  color: #334155;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  margin-bottom: 1.5rem !important;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.forgotLink {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  color: #333;
}
.forgotLink:hover {
  text-decoration: underline !important;
}
.mainButton {
  width: 90%;
  padding: 0.6rem 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #334155 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}
.mainButton:hover {
  width: 100%;
}

.socialLogin {
  display: flex;
  justify-content: space-between;
}

.socialButton {
  width: 90%;
  padding: 0 5.5rem !important;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
}

.illustration {
  margin-bottom: 1rem;
}
.checkbox {
  margin-bottom: 1rem !important;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .mainBox,
  .spBox {
    width: 100%;
    max-width: 100%;
  }

  .socialLogin {
    flex-direction: column;
  }

  .socialButton {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .input {
    font-size: 1rem;
  }

  .mainButton,
  .spButton {
    font-size: 1rem;
  }
  .mainBox .spBox {
    margin: 0 auto;
    width: 100%;
  }

  .socialButton {
    padding: 0 4rem !important;
    font-size: 1rem;
  }
}
