@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.body {
  margin: 1rem 6rem;
}
.container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.Title {
  margin-left: 0.5rem;
  font-size: 3rem;
  font-family: Playfair Display;
  font-weight: 700;
  font-style: Normal;
  color: #334155;
}
.subtitle {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #334155;
}

.Table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  background-color: #fff;
  border-collapse: collapse;
  overflow: hidden;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.addButton {
  background-color: #334155;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.addButton:hover {
  background-color: #334155;
}

/* Edit/Delete buttons inside table */
.actionButton {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.inputForm {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 1rem;
}
.input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0.6rem 12px !important;
}
.datePicker {
  width: 100%;
  padding: 0.6rem 12px !important;
}
.searchButton {
  width: 100%;
  padding: 1.2rem 12px !important;
  background-color: #334155 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}

.dataTable {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 1rem;
}
.createButton {
  text-align: right;
  margin-bottom: 2rem;
}
.submitButton {
  padding: 0.6rem 12px;
  font-size: 1rem;
  background-color: #334155 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .routeTable {
    width: 100%;
    font-size: 14px;
  }

  .routeTable th,
  .routeTable td {
    padding: 10px;
  }

  .addButton {
    width: 100%;
    text-align: center;
  }

  .buttonContainer {
    justify-content: center;
  }
}
