.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  :hover {
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .responsive-username {
    display: none;
  }
}
