.contact {
  width: 86vw;
  margin: 0 auto;
  .header-contact {
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
  }
  .sub-header-contact {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}
